@use '../globals/globals' as *;

.discover-section_wrapper {
  background-color: #f9f5f2;
  margin-bottom: 40px;
  @media (min-width: $tablet) {
    margin-bottom: 56px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 96px;
  }
}

.discover-section_container {
  max-width: 1040px;

  display: flex;
  flex-direction: column;
  gap: 66px;

  margin-top: 64px;
  margin-bottom: 24px;
  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 62.13px;

    margin-top: 44px;
    margin-bottom: 33px;
  }
  @media (min-width: $desktop) {
    gap: 158px;

    margin-top: 89px;
    margin-bottom: 69px;
  }
}

.discover-img {
  max-width: 269px;
  max-height: 303px;
  width: 100%;
  height: 100%;

  position: relative;

  @media (min-width: $tablet) {
    max-width: 296.66px;
    max-height: 333.35px;
  }
  @media (min-width: $desktop) {
    max-width: 384px;
    max-height: 432px;
  }
}

.discover_img_paint_first {
  position: absolute;

  width: 100%;
  height: 100%;
  max-width: 71px;
  max-height: 58px;
  left: -50px;
  top: -40px;
  img {
    width: 100%;
    height: 100%;
  }
  @media (min-width: $tablet) {
    max-width: 79px;
    max-height: 64.51px;
    left: -50px;
    top: -40px;
  }
  @media (min-width: $desktop) {
    max-width: 129px;
    max-height: 120px;
    left: -75px;
    top: -70px;
  }
}

.discover_img_main {
  width: 100%;
  height: 100%;

  // object-fit: cover;
}

.discover_img_paint_second {
  position: absolute;

  width: 100%;
  height: 100%;
  max-width: 134px;
  max-height: 91px;

  bottom: -20px;
  right: -30px;

  img {
    width: 100%;
    height: 100%;
  }
  @media (min-width: $tablet) {
    max-width: 147.56px;
    max-height: 101.08px;
    bottom: -20px;
    right: -40px;
  }
  @media (min-width: $desktop) {
    max-width: 191px;
    max-height: 131px;
    bottom: -53px;
    right: -40px;
  }
}

.discover-info {
  display: flex;
  flex-direction: column;
  color: #1e1e1e;
  @media (min-width: $tablet) {
    gap: 16px;
  }
  @media (min-width: $desktop) {
    gap: 0px;
  }
}

.discover-title {
  @include h8b;
  margin-bottom: 16px;
  @media (min-width: $tablet) {
    @include h6b;
  }
  @media (min-width: $desktop) {
    @include h5b;
    margin-bottom: 16px;
  }
}

.discover-subtitle {
  @include p9r;
  color: #172327;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    @include p6r;
    margin-bottom: 30px;
  }
}

.discover-btn {
  background-color: #2241cf;
  @include p5m;

  color: white;
  margin-bottom: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 12px 24px;
  max-width: 160px;
  max-height: 48px;

  @media (min-width: $desktop) {
    margin-bottom: 34px;
  }
}

.discover-text {
  color: #172327;
  margin-bottom: 24px;
  @include p4b;
  @media (min-width: $desktop) {
    margin-bottom: 24px;
  }
}

.discover-profile {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.discover-profile-img {
  width: 60px;
  height: 60px;
}

.discover-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.discover-profile-title {
  color: #1e1e1e;
  @include p4b;
}

.discover-profile-subtitle {
  color: #172327;
  @include p9r;
}
