@use 'globals/globals' as *;

.footer__wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #1e1e1e;
  color: white;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__top {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #696969;
  display: flex;
  justify-content: center;
  padding: 0px 16px;
  @media (min-width: $tablet) {
    padding: 0px 48px;
  }
  @media (min-width: $desktop) {
    padding: 0px 200px;
  }
}

.footer__top_container {
  max-width: 1040px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 33px;
  margin-top: 80px;
  margin-bottom: 47px;
  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 68px;
  }
  @media (min-width: $desktop) {
    gap: 100px;
  }
}

.footer__top__build {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    max-width: 372px;
  }
}

.footer__build__title {
  @include h8b;
  margin-bottom: 16px;
  @media (min-width: $tablet) {
    @include h6b;
  }
  @media (min-width: $desktop) {
    @include h5b;
    margin-bottom: 24px;
  }
}

.footer_build__subtitle {
  @include p9r;
  margin-bottom: 24px;

  @media (min-width: $desktop) {
    @include p6r;
  }
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.footer__list__wrapper {
  display: flex;
  gap: 40px;
  @media (min-width: $tablet) {
    gap: 48px;
  }
  @media (min-width: $desktop) {
    gap: 100px;
  }
}

.footer__list-wrap {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__list-title {
  @include p7b;
  @media (min-width: $tablet) {
    @include p4b;
  }
  @media (min-width: $desktop) {
    @include p1b;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list_item {
  @include p10r;
  @media (min-width: $tablet) {
    @include p9r;
  }
  @media (min-width: $desktop) {
    @include p6r;
  }
}

.footer-bottom {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0px 40px;
  }
  @media (min-width: $tablet) {
    padding: 0px 16px;
  }
}

.footer-bottom__container {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Два столбца */
  grid-template-rows: auto auto; /* Две строки */

  @include p10r;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  @media (min-width: $desktop) {
    @include p9r;
  }
}

.footer-bottom__template {
  grid-column: 1 / -1; /* Первый элемент занимает все столбцы */

  img {
    margin-right: 6px;
  }
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    margin: 0px;
  }
}

.footer-bottom__policy {
}

.footer-bottom__overview {
  display: flex;
  gap: 24px;
}
