@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  display: block;
  position: relative;
  width: 100%;
  color: white;
  height: 42px;
  background-color: #1e1e1e;
}
@media (min-width: 834px) {
  .header {
    display: block;
    height: 64px;
  }
}
@media (min-width: 1440px) {
  .header {
    display: block;
    height: 94px;
  }
}

.header_container {
  position: relative;
}

.Logo-img {
  width: 67px;
  height: 26px;
}
@media (min-width: 834px) {
  .Logo-img {
    width: 72px;
    height: 28px;
  }
}
@media (min-width: 1440px) {
  .Logo-img {
    width: 99px;
    height: 38px;
  }
}

.menu {
  display: none;
}
@media (min-width: 834px) {
  .menu {
    margin-left: 32.5px;
    margin-right: auto;
    list-style: none;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    gap: 28px;
  }
}
@media (min-width: 1440px) {
  .menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    gap: 32px;
  }
}

.menu-item {
  cursor: pointer;
  padding: 8px;
  color: #ffffff;
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  height: 50px; /* Пример высоты */
}

.menu-item:first-child {
  color: #ff3c78;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 1440px) {
  .menu-item:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
}

.header-btn-wrapper {
  display: none;
}
@media (min-width: 834px) {
  .header-btn-wrapper {
    display: flex;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .header-btn-wrapper {
    gap: 32px;
  }
}

.header-btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: none;
  color: #ffffff;
}
@media (min-width: 834px) {
  .header-btn-login {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .header-btn-login {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.purple-btn {
  background: #ff3c78;
  color: #ffffff;
  border-radius: 16px;
}
@media (min-width: 834px) {
  .purple-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 20px;
  }
}
@media (min-width: 1440px) {
  .purple-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
  }
}

.menu-btn {
  display: block;
  height: 12px;
  width: 46px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: none;
  margin-left: auto;
  outline: none; /* Убирает стандартную обводку при фокусе */
  -webkit-tap-highlight-color: transparent; /* Убирает подсветку на мобильных устройствах */
}
@media (min-width: 834px) {
  .menu-btn {
    display: none;
  }
}

.header__mobile_container {
  display: block;
  position: fixed;
  z-index: 4;
  background-color: #1e1e1e;
  height: 42px;
}
@media (min-width: 834px) {
  .header__mobile_container {
    display: none !important;
  }
}

.menuToggle {
  position: fixed;
  z-index: 3;
  top: 42px;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  width: 100vw;
  background-color: #1e1e1e;
  height: 100vh;
  transition: transform 0.2s ease-in-out;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  gap: 70px;
}
@media (min-width: 834px) {
  .menuToggle {
    display: none;
  }
}

.menuToggle_active {
  transform: translateY(0);
}

.no-scroll {
  overflow: hidden; /* Запрет прокрутки */
}

.footer__wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__top {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #696969;
  display: flex;
  justify-content: center;
  padding: 0px 16px;
}
@media (min-width: 834px) {
  .footer__top {
    padding: 0px 48px;
  }
}
@media (min-width: 1440px) {
  .footer__top {
    padding: 0px 200px;
  }
}

.footer__top_container {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 33px;
  margin-top: 80px;
  margin-bottom: 47px;
}
@media (min-width: 834px) {
  .footer__top_container {
    flex-direction: row;
    gap: 68px;
  }
}
@media (min-width: 1440px) {
  .footer__top_container {
    gap: 100px;
  }
}

.footer__top__build {
  display: flex;
  flex-direction: column;
}
@media (min-width: 834px) {
  .footer__top__build {
    max-width: 372px;
  }
}

.footer__build__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
@media (min-width: 834px) {
  .footer__build__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }
}
@media (min-width: 1440px) {
  .footer__build__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
  }
}

.footer_build__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  .footer_build__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.footer__list__wrapper {
  display: flex;
  gap: 40px;
}
@media (min-width: 834px) {
  .footer__list__wrapper {
    gap: 48px;
  }
}
@media (min-width: 1440px) {
  .footer__list__wrapper {
    gap: 100px;
  }
}

.footer__list-wrap {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 834px) {
  .footer__list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .footer__list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list_item {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
@media (min-width: 834px) {
  .footer__list_item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .footer__list_item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.footer-bottom {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
@media (min-width: 834px) {
  .footer-bottom {
    padding: 0px 40px;
  }
}
@media (min-width: 834px) {
  .footer-bottom {
    padding: 0px 16px;
  }
}

.footer-bottom__container {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Два столбца */
  grid-template-rows: auto auto; /* Две строки */
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-bottom__container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 834px) {
  .footer-bottom__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
}
@media (min-width: 1440px) {
  .footer-bottom__container {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-bottom__template {
  grid-column: 1/-1; /* Первый элемент занимает все столбцы */
}
.footer-bottom__template img {
  margin-right: 6px;
}
@media (min-width: 834px) {
  .footer-bottom__template {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    margin: 0px;
  }
}

.footer-bottom__overview {
  display: flex;
  gap: 24px;
}

.discover-section_wrapper {
  background-color: #f9f5f2;
  margin-bottom: 40px;
}
@media (min-width: 834px) {
  .discover-section_wrapper {
    margin-bottom: 56px;
  }
}
@media (min-width: 1440px) {
  .discover-section_wrapper {
    margin-bottom: 96px;
  }
}

.discover-section_container {
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  gap: 66px;
  padding: 0px 16px;
  margin-top: 64px;
  margin-bottom: 24px;
}
@media (min-width: 834px) {
  .discover-section_container {
    flex-direction: row;
    gap: 62.13px;
    padding: 0px 24px;
    margin-top: 44px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1440px) {
  .discover-section_container {
    gap: 158px;
    padding: 0px 0px;
    margin-top: 89px;
    margin-bottom: 69px;
  }
}

.discover-img {
  max-width: 269px;
  max-height: 303px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width: 834px) {
  .discover-img {
    max-width: 296.66px;
    max-height: 333.35px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .discover-img {
    max-width: 384px;
    max-height: 432px;
  }
}

.discover_img_paint_first {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 71px;
  max-height: 58px;
  left: -50px;
  top: -40px;
}
.discover_img_paint_first img {
  width: 100%;
  height: 100%;
}
@media (min-width: 834px) {
  .discover_img_paint_first {
    max-width: 79px;
    max-height: 64.51px;
    left: -50px;
    top: -40px;
  }
}
@media (min-width: 1440px) {
  .discover_img_paint_first {
    max-width: 129px;
    max-height: 120px;
    left: -75px;
    top: -70px;
  }
}

.discover_img_main {
  width: 100%;
  height: 100%;
}

.discover_img_paint_second {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 134px;
  max-height: 91px;
  bottom: -20px;
  right: -30px;
}
.discover_img_paint_second img {
  width: 100%;
  height: 100%;
}
@media (min-width: 834px) {
  .discover_img_paint_second {
    max-width: 147.56px;
    max-height: 101.08px;
    bottom: -20px;
    right: -40px;
  }
}
@media (min-width: 1440px) {
  .discover_img_paint_second {
    max-width: 191px;
    max-height: 131px;
    bottom: -53px;
    right: -40px;
  }
}

.discover-info {
  display: flex;
  flex-direction: column;
  color: #1e1e1e;
}
@media (min-width: 834px) {
  .discover-info {
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .discover-info {
    gap: 0px;
  }
}

.discover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
@media (min-width: 834px) {
  .discover-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }
}
@media (min-width: 1440px) {
  .discover-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 16px;
  }
}

.discover-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #172327;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .discover-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.discover-btn {
  background-color: #2241cf;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 12px 24px;
  max-width: 160px;
  max-height: 48px;
}
@media (min-width: 1440px) {
  .discover-btn {
    margin-bottom: 34px;
  }
}

.discover-text {
  color: #172327;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 1440px) {
  .discover-text {
    margin-bottom: 24px;
  }
}

.discover-profile {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.discover-profile-img {
  width: 60px;
  height: 60px;
}

.discover-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.discover-profile-title {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.discover-profile-subtitle {
  color: #172327;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.hero-section_wrapper {
  background-color: #1e1e1e;
}

.hero-section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 45px;
}
@media (min-width: 834px) {
  .hero-section_container {
    gap: 0px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 68px;
    margin-bottom: 98px;
  }
}
@media (min-width: 1440px) {
  .hero-section_container {
    margin-top: 80px;
    margin-bottom: 76px;
  }
}

.hero-information {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
@media (min-width: 834px) {
  .hero-information {
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .hero-information {
    gap: 40px;
  }
}

.hero-title {
  max-width: 480px;
  width: 100%;
  letter-spacing: -4.2%;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
@media (min-width: 834px) {
  .hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1440px) {
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
  }
}

.hero-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  max-width: 480px;
}
@media (min-width: 834px) {
  .hero-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .hero-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}

.hero-btn {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  width: 178px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  color: white;
  background-color: #ff3c78;
  font-weight: 500;
  font-size: 16px;
  border-radius: 14px;
  line-height: 24px;
}
.hero-btn div {
  text-align: center;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 342px;
  max-height: 338px;
}
@media (min-width: 834px) {
  .hero-image {
    max-width: 379px;
    max-height: 375px;
  }
}
@media (min-width: 1440px) {
  .hero-image {
    max-width: 478px;
    max-height: 474px;
  }
}

.hero-image-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image-card {
  height: 108px;
  width: 99px;
  position: absolute;
  right: 0;
  bottom: -13px;
}
@media (min-width: 834px) {
  .hero-image-card {
    bottom: -58px;
    height: 267px;
    width: 246px;
  }
}
@media (min-width: 1440px) {
  .hero-image-card {
    bottom: -35px;
    height: 267px;
    width: 246px;
  }
}

.review-section_wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.review-section_container {
  z-index: 1;
  margin-top: 200px;
  margin-bottom: 80px;
  max-width: 1040px;
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
@media (min-width: 834px) {
  .review-section_container {
    gap: 26px;
  }
}
@media (min-width: 1440px) {
  .review-section_container {
    gap: 62px;
  }
}

.review-section__title {
  color: #172327;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 1440px) {
  .review-section__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }
}

.review_slider_container {
  max-width: 1040px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  overflow: hidden;
}

.review_slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  flex-wrap: nowrap;
  width: 320px;
  height: 330px;
}
@media (min-width: 834px) {
  .review_slider {
    width: 602px;
    height: 191px;
  }
}
@media (min-width: 1440px) {
  .review_slider {
    width: 1040px;
    height: 330px;
  }
}

.review_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.review_slide_container {
  display: flex;
  flex-direction: column;
  padding: 32px 20px 32px 32px;
}
@media (min-width: 834px) {
  .review_slide_container {
    padding: 18.53px 11.25px 30.97px 18.53px;
  }
}
@media (min-width: 1440px) {
  .review_slide_container {
    padding: 32px 20px 32px 32px;
  }
}

.review_user_info {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  margin-bottom: 24px;
}
@media (min-width: 834px) {
  .review_user_info {
    gap: 8px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1440px) {
  .review_user_info {
    gap: 15px;
    margin-bottom: 24px;
  }
}

.review_user_avatar {
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
}
@media (min-width: 834px) {
  .review_user_avatar {
    max-width: 37.07px;
    max-height: 37.07px;
  }
}
@media (min-width: 1440px) {
  .review_user_avatar {
    max-width: 64px;
    max-height: 64px;
  }
}
.review_user_avatar img {
  height: 100%;
  width: 100%;
}

.review_user_name-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.review_user_name {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
@media (min-width: 834px) {
  .review_user_name {
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .review_user_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

.review_user_job-name {
  color: #172327;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 834px) {
  .review_user_job-name {
    font-weight: 400;
    font-size: 8px;
    line-height: 14px;
  }
}
@media (min-width: 1440px) {
  .review_user_job-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.review_user_comment {
  color: #172327;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 834px) {
  .review_user_comment {
    font-weight: 400;
    font-size: 8px;
    line-height: 14px;
    margin-bottom: 18.53px;
  }
}
@media (min-width: 1440px) {
  .review_user_comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}

.review_stars {
  display: flex;
  flex-wrap: nowrap;
  gap: 19.97px;
  max-height: 26px;
  height: 100%;
  width: 100%;
}
@media (min-width: 834px) {
  .review_stars {
    gap: 11.53px;
  }
}
@media (min-width: 1440px) {
  .review_stars {
    gap: 19.97px;
  }
}

.review_stars_item {
  max-width: 26.62px;
  max-height: 26px;
  height: 100%;
  width: 100%;
}
.review_stars_item img {
  height: 100%;
  width: 100%;
}
@media (min-width: 834px) {
  .review_stars_item {
    max-width: 15.38px;
    max-height: 16px;
  }
}
@media (min-width: 1440px) {
  .review_stars_item {
    max-width: 26.62px;
    max-height: 26px;
  }
}

.review_slider_control {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}

.review_btn {
  width: 48px;
  height: 48px;
  background-color: #1e1e1e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slick-list {
  height: 100%;
}
@media (min-width: 834px) {
  .slick-list {
    margin: 0 -11.75px !important;
  }
}
@media (min-width: 1440px) {
  .slick-list {
    margin: 0 -20px !important;
  }
}

.slick-track {
  height: 100%;
}

@media (min-width: 834px) {
  .slick-slide {
    margin: 0 11.75px;
  }
}
@media (min-width: 1440px) {
  .slick-slide {
    margin: 0 11.75px;
  }
}

.share-section_wrapper {
  margin-bottom: 96px;
  width: 100%;
  height: 100%;
}

.share-section_container {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
}
@media (min-width: 834px) {
  .share-section_container {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  .share-section_container {
    gap: 106px;
  }
}

.share-content {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 16px;
}

.share-content_title {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .share-content_title {
    margin-bottom: 24px;
  }
}

.share-content_subtitle {
  color: #172327;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  .share-content_subtitle {
    margin-bottom: 40px;
  }
}

.share-content_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #2241cf;
  border-radius: 16px;
  width: 160px;
  height: 48px;
}

.share-card_wrapper {
  color: #1e1e1e;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 834px) {
  .share-card_wrapper {
    max-width: 498px;
    max-height: 586px;
  }
}

.share-card_container {
  background-color: #f9f5f2;
  padding: 24px;
  height: 308px;
  display: grid;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 21px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 834px) {
  .share-card_container {
    height: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

.share-card_container::webkit-scrollbar {
  display: none;
}

.share-card_item {
  background-color: white;
  width: 210px;
  height: 257px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 36px 16px;
}
@media (min-width: 834px) {
  .share-card_item {
    width: 100%;
    height: 100%;
    max-width: 210px;
    max-height: 257px;
  }
}

.share-card_item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  background-color: #fff2ec;
  border-radius: 50%;
}

.share-card_item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.share-card_item_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto", serif;
  letter-spacing: 0%;
}

.text_green {
  color: #4fc553;
  background-color: inherit;
}

header,
main,
footer {
  width: 100%;
  color: white;
  margin: 0px auto;
  height: 100%;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1040px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 834px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/*# sourceMappingURL=index.css.map */
