@use './globals/globals' as *;

.header {
  display: block;
  position: relative;
  width: 100%;
  color: white;
  height: 42px;
  background-color: #1e1e1e;
  @media (min-width: $tablet) {
    display: block;
    height: 64px;
  }
  @media (min-width: $desktop) {
    display: block;
    height: 94px;
  }
}

.header_container {
  position: relative;
}

.Logo-img {
  width: 67px;
  height: 26px;
  @media (min-width: $tablet) {
    width: 72px;
    height: 28px;
  }

  @media (min-width: $desktop) {
    width: 99px;
    height: 38px;
  }
}

.menu {
  display: none;

  @media (min-width: $tablet) {
    margin-left: 32.5px;
    margin-right: auto;
    list-style: none;
    display: flex;

    @include p9r;
    gap: 28px;
  }

  @media (min-width: $desktop) {
    @include p6r;
    gap: 32px;
  }
}

.menu-item {
  cursor: pointer;
  padding: 8px;
  color: #ffffff;
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  height: 50px; /* Пример высоты */
}

.menu-item:first-child {
  color: #ff3c78;

  @include p7b;

  @media (min-width: $desktop) {
    @include p4b;
  }
}

.header-btn-wrapper {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    gap: 24px;
  }
  @media (min-width: $desktop) {
    gap: 32px;
  }
}

.header-btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: none;
  color: #ffffff;
  @media (min-width: $tablet) {
    @include p9r;
  }

  @media (min-width: $desktop) {
    @include p6r;
  }
}

.purple-btn {
  background: #ff3c78;
  color: #ffffff;

  border-radius: 16px;

  @media (min-width: $tablet) {
    @include p9r;
    padding: 8px 20px;
  }

  @media (min-width: $desktop) {
    @include p6r;
    padding: 12px 24px;
  }
}

.menu-btn {
  display: block;
  height: 12px;
  width: 46px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: none;
  margin-left: auto;

  outline: none; /* Убирает стандартную обводку при фокусе */
  -webkit-tap-highlight-color: transparent; /* Убирает подсветку на мобильных устройствах */

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__mobile_container {
  display: block;
  position: fixed;
  z-index: 4;
  background-color: #1e1e1e;
  height: 42px;
  @media (min-width: $tablet) {
    display: none !important;
  }
}

.menuToggle {
  position: fixed;
  z-index: 3;
  top: 42px;
  left: 0;
  right: 0;
  transform: translateY(-100%);

  width: 100vw;
  background-color: #1e1e1e;
  height: 100vh;
  transition: transform 0.2s ease-in-out;

  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include h5b;
  gap: 70px;
  @media (min-width: $tablet) {
    display: none;
  }
}

.menuToggle_active {
  transform: translateY(0);
}

.no-scroll {
  overflow: hidden; /* Запрет прокрутки */
}
